<!DOCTYPE html>
<html>

<head>
    <title>Settings - SaintScalperFX</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h1>⚙️ Trading Preferences</h1>

<form method="POST">

<p>Favorite Market</p>

<select name="market">

<option>XAUUSD</option>
<option>EURUSD</option>
<option>GBPUSD</option>
<option>BTCUSD</option>

</select>


<br><br>


<p>Preferred Timeframe</p>

<select name="timeframe">

<option>M5</option>
<option>M15</option>
<option>H1</option>
<option>H4</option>

</select>


<br><br>


<p>Risk Level</p>

<select name="risk">

<option>Low</option>
<option>Medium</option>
<option>High</option>

</select>


<br><br>


<button type="submit">
💾 Save Settings
</button>

</form>


<br>

<a href="/">
<button>
⬅ Dashboard
</button>
</a>


</div>

</body>

</html>
